@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 63, 53; /* #4A3F35 */
  --background-rgb: 245, 239, 230; /* #F5EFE6 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar cho phong cách Vintage */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F5EFE6;
}
::-webkit-scrollbar-thumb {
  background: #B08968;
  border-radius: 10px;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-garamond {
  font-family: var(--font-cormorant), serif;
}
