body {
  color: #4A3F35;
  background-color: #F5EFE6;
  margin: 0;
  padding: 0;
  font-family: serif;
}

h1, h2, h3 {
  color: #4A3F35;
}

/* Giữ lại cái scrollbar đẹp của bạn */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F5EFE6;
}
::-webkit-scrollbar-thumb {
  background: #B08968;
  border-radius: 10px;
}
